/* CSS de la clase explicando GRID */

/* .container {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 100px 200px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 40px;
} */


/* CSS del reto */
.container{
    
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 40px;
    align-items: end;
}

.item{
    border: 5px solid #1d8503;
    background-color: #75e759;
    color: aliceblue;
    font-size: 4rem;    
}
